@font-face {
  font-family: "Benzin";
  src: url("../assets/fonts/Benzin-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Benzin";
  src: url("../assets/fonts/Benzin-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Benzin";
  src: url("../assets/fonts/Benzin-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}