@font-face {
  font-family: "Benzin";
  src: url("./Benzin-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Benzin";
  src: url("./Benzin-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Benzin";
  src: url("./Benzin-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}