.burger {
  @include flex-center;

  position: relative;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  transition: rotate var(--transition-duration);
  cursor: pointer;
  z-index: 10;

  &__line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 50%;
    box-shadow: 0 8px 0 var(--color-dark),
                0 -8px 0 var(--color-dark);
  }

  &--open {
    rotate: 90deg;
  }
}