$desktop-l: 1600px;
$desktop-m: 1400px;
$desktop-s: 1200px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

@mixin desktop-l {
  @media screen and (max-width: $desktop-l) {
    @content;
  }
}

@mixin desktop-m {
  @media screen and (max-width: $desktop-m) {
    @content;
  }
}

@mixin desktop-s {
  @media screen and (max-width: $desktop-s) {
    @content;
  }
}

@mixin tablet-above {
  @media screen and (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media screen and (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}