:root {
  --color-bg: #f1f2f6;
  --color-accent: #6060f0;
  --color-accent-active: #3733f1;
  --color-light: #ffffff;
  --color-dark: #1f1f1f;
  --color-border: #dbdbdb;

  --border-radius: 56px;
  --border-radius-high: 200px;
  --border-radius-small: 16px;

  --wrapper-width: 1312px;
  --wrapper-padding-x: 48px;

  --transition-duration: 0.2s;
}